extends ../_partial/layout

block content
  - var dateDays = 0
  - var desDate = new Date(page.magDate)
  - var curDate = new Date()

  if page.magLoop
    - newDesDate = new Date(curDate.getFullYear()+'-'+(desDate.getMonth() + 1)+'-'+desDate.getDate())
    if newDesDate.getTime() < curDate.getTime()
      - newDesDate = new Date((curDate.getFullYear()+1)+'-'+(desDate.getMonth() + 1)+'-'+desDate.getDate())
    - dateDays = Math.floor((newDesDate.getTime() - curDate.getTime()) / (24*3600*1000))
  else
    - dateDays = Math.floor((desDate.getTime() - curDate.getTime()) / (24*3600*1000))
  
  .container.post
    section.article
      .title #{page.title}
      if dateDays > 0
        div.desc(class=`mag-date`)!= '还有 <span class="date">'+dateDays+'</span> 天'
      else
        div.desc(class=`mag-date`)!= '距离<span>'+page.magText+'</span>已经 '+Math.abs(dateDays)+' 天'
      .content!= page.content
      if page.tags
        .tags!= list_tags(page.tags, { show_count: false, class: 'tag', style: false, separator: '' })

  .container
    //- ul.nav
    //-   if page.prev
    //-     li 上一篇：
    //-       a(href=url_for(page.prev.path))= page.prev.title || 'any.com'
    //-   if page.next
    //-     li 下一篇：
    //-       a(href=url_for(page.next.path))= page.next.title || 'any.com'

    if !index && config.disqus_shortname
      .comments
        #disqus_thread
          noscript Please enable JavaScript to view the 
            a(href="http://disqus.com/?ref_noscript") comments powered by Disqus

block js
  != js('script/post')
  if config.disqus_shortname
    script
      | var disqus_shortname = '!{config.disqus_shortname}';
      if page.permalink
        | var disqus_url = '!{page.permalink}';
        | (function(){
        |  var dsq = document.createElement('script');
        |  dsq.type = 'text/javascript';
        |  dsq.async = true;
        |  dsq.src = '//' + disqus_shortname + '.disqus.com/!{page.comments ? 'embed.js' : 'count.hs'}';
        |  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        | })();
        
